
:root{
  --red: #e4002b;
  --grey: #f6f6f9;
}
body{
  background-color: var(--grey);
  padding-bottom: 10px;
}
button{
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  background-color: var(--red);
  color: white;
  cursor: pointer;
}
button:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button.outline{
  border: solid var(--red) 1px;
  background-color: white;
  color: black;
}
button.outline:hover{
  background-color: var(--red);
  color: white;
}
.bg-red{
  background-color: var(--red);
  color: white;
}
